<%= form_for([@article,@article.comments.build]) do |form| %>
  <div>
    <%= form.text_area :message %>
  </div>
  <div class="actions">
    <%= form.submit "post comment", class: "btn btn-primary btn-sm"%>
  </div>
<% end %>
