
  	<span class="badge badge-primary.mr-1.p-2"><%= raw(article.tag_list.map { |t| link_to t, articles_path(t) }.join(', ')) %></span>

<%= tag_list.each do |tag| %>
    <%= link_to tag, articles_path(tag_name: tag), class: "badge badge-primary.mr-1.p-2" %>
    <!-- tag_nameにarticle.tag_listで取り出したタグをパラメータとして渡す -->
<% end %>

<%= link_to tag, articles_path({ :action => :tag_name, :id => tag }) %>