<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="https://placehold.it/400x300" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>
