<div class="container">
	<div class="form">

    <%= render 'form', event: @event %>

   <div class="row">
     <div class="col-lg-8 col-md-6 mr-auto mt-5 mb-5">
       <%= link_to 'イベント一覧へ', events_path, class: "btn btn-primary btn-sm ml-2"%>
     </div>
   </div>

    </div>
</div>