
$main-theme-color: #20A2B3; //メインカラー　ブルー
$base-theme-color: #EDFDFF; //バックカラー　ペールブルー
/* $base-hover-color: #; //ホバーカラー*/
$sub-theme-color: #82F1FF; //サブカラー　ライトブルー
$accent-theme-color: #FFA15B; //アクセントカラー　コーラルオレンジ
$base-text-color: #BAAA9E; //ベースのフォント色　グレー
/* $inactive-text-color: #; //インアクティブなフォント色*/

/*------------フォント指定------------*/

:root{
    --font-family-sans-serif: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    font-family: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}

/*----------------------------------*/
/**/

/*  bootstrapのカスタムレイアウト  */
.navbar-brand {
  background: no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}
.main {
  width: 100%; /* 横幅 */
  height: 700px; /* 高さ（多めに設定） */
  background-color: #82F1FF; /* 背景色 */
}
.btn-primary {
    border-color: #e87070;
    background-color: #e87070;
}
body{
    background: #EDFDFF;
}

/*  application.html.erbのレイアウト  */

/*ヘッダー*/
.site-header{
    background: rgba(255,255,255,0.5);
    display: flex;
    padding: 60px 20px;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}
.site-header.transform{
    background: rgba(255,255,255,0.9);
    padding: 20px;
}
.site-logo img{
    height: 20px;
    width: auto;
}
.gnav__menu{
    display: flex;
}
.gnav__menu__item{
    margin-left: 20px;
}
.gnav__menu__item a{
    color: #333;
    text-decoration: none;
}
.hero{
    max-height: 500px;
    overflow: hidden;
}
.hero img{
    height: auto;
    width: 100%;
}
.content{
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 100px;
    width: 800px;
}
.content p{
    margin-bottom: 40px;
}

/*フッター*/
.site-footer{
    background: #333;
    padding: 80px 0;
}
.copyright{
    color: #fff;
    font-size: 12px;
    text-align: center;
}

/*トップページ*/
#float-my-box {
    position: absolute;
    width: 200px;
    height: 400px;
    display: block;
    border: #e0e0e0 1px solid;
    background-color: #20A2B3;
}
.main-visual {
	height: 500px; 
}
.picture {
    display:  inline-block;
	background-image: url(sample01.jpg);
}
