
$main-theme-color: #20A2B3; //メインカラー　ブルー
$base-theme-color: #EDFDFF; //バックカラー　ペールブルー
$base-hover-color: #dcdcdc; //ホバーカラー グレー
$sub-theme-color: #82F1FF; //サブカラー　ライトブルー
$accent-theme-color: #FFA15B; //アクセントカラー　コーラルオレンジ
$base-text-color: #BAAA9E; //ベースのフォント色　グレー
$inactive-text-color: #58868A; //インアクティブなフォント色　グリーン

/*------------フォント指定------------*/

:root{
    --font-family-sans-serif: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    font-family: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}

/*----------------------------------*/

/*  bootstrapのカスタムレイアウト  */

.navbar-brand {
  background: no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}
.main {
  background-color: #82F1FF; /* 背景色 */
}
.btn-primary {
    color: white;
    border-color: #FFA15B;
    background-color: #FFA15B;
    border-radius: 0;
}
.btn-primary:visited {
    color: white;
}
.btn-secondary {
    color: white;
    border-color: #82F1FF;
    background-color: #82F1FF;
}
.btn-secondary:visited {
    color: white;
}
.btn-info {
    color: white;
    border-color: #58868A;
    background-color: #58868A;
}
.btn-info:visited {
    color: white;
}
.badge-secondary {
    color: white;
    border-color: #58868A;
    background-color: #58868A;
    border-radius: 0;
}
.badge-secondary:visited {
    color: white;
}
.badge-primary {
    color: white;
    background: #FFA15B;
}
.badge-primary:visited {
    color: white;
}
body{
    background: #EDFDFF;
}
.text-center{
    color: #BAAA9E;
}
.card-header {
    color: white;
    background: #FFA15B;
}
.text-danger {
    color: #FFA15B;
}

/*  application.html.erbのレイアウト  */

/*ヘッダー*/
.site-header{
    background: rgba(255,255,255,0.5);
    display: flex;
    padding: 30px 20px;
    position: fixed;
    justify-content: space-between;
    transition: .5s;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.site-header.transform{
    background: rgba(255,255,255,0.9);
    padding: 20px;
}
.site-logo {
    width: auto;
    background: -moz-radial-gradient(#82F1FF 20%,  transparent 70%); 
    background: -webkit-radial-gradient(#82F1FF 20%,  transparent 70%); 
    background: radial-gradient(#82F1FF 20%,  transparent 70%); 
}
.gnav__menu{
    display: flex;
}
.gnav__menu__item{
    color : #20A2B3;
    margin-left: 20px;
}
.gnav__menu__item a{
    color: #333;
    text-decoration: none;
}
.content{
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 100px;
    width: 800px;
}
.content p{
    margin-bottom: 40px;
}
.display-3 {
    color: #58868A;
}
a{
  transition: color 0.3s;
}
a:hover{
  color : #dcdcdc;
  background-color: transparent;
}
.fa-book-open {
    color: #20A2B3;
}
.fa-warehouse {
    color: #20A2B3;
}

/*フッター*/
.site-footer{
    background: #333;
    padding: 50px 0;
}
.copyright{
    color: #fff;
    font-size: 12px;
    text-align: center;
}

/*トップページ*/

.main-visual {
	height: 500px;
    position: relative;
    z-index: 0;
}
.main-visual-content {
  width: 25%;
  height: 500px;
  background: rgba(0,0,0,0.5);
  font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
}
.main-visual-text {
  color: #fff;
  position: absolute;
  bottom: 0;
}

.sticky-top {
    margin-top: 150px;
}
.display-3 {
  position: relative;
  padding-left: 25px;
}

.display-3:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}
.display-3:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}
/*------------入力フォーム----------------*/
.form {
    margin-top: 150px;
}
.form-group {
    color: #20A2B3;
}
.field {
    color: #20A2B3;
    border: 1px solid #20A2B3;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
}
.date {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 5px;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #20A2B3;
    border: 1px solid #20A2B3;
    border-radius: 4px;
}
form.text_area {
  width: 300px;
}
textarea {
    width: 500px;
}

/*------------内容詳細部分----------------*/
.text {
    color: #BAAA9E;
}
.h3 {
    color: #20A2B3;
}